@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-color: #f4f4f9;
  user-select: none; /* Prevents selection */
  -webkit-user-select: none; /* For WebKit browsers like Chrome, Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge (older versions) */
}

a {
  text-decoration: none;
}

*,
input,
select,
option {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
  background-color: #141414;
}

body {
  height: 100%;
}

/* Disable zoom effect for Ant Design Input */
.ant-input {
  transition: none; /* Remove the zoom transition */
}

.ant-input:focus {
  box-shadow: none; /* Remove focus shadow */
  border-color: inherit; /* Keep the default border color */
}

/* Remove border for Ant Design Input on hover and focus */
.ant-input {
  border: none; /* Remove the border */
  box-shadow: none; /* Remove the box shadow */
  font-size: 1rem;
  height: 45px;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: #fefe0000 !important;
  box-shadow: none !important;
}

.ant-input:focus,
.ant-input:hover {
  border: none !important; /* Remove border when focused or hovered */
  box-shadow: none !important; /* Remove box shadow */
}

.ant-card-body {
  padding: 16px !important;
}

.ant-otp-input {
  width: 40px;
}

.glow-icon {
  color: #52b8da;
  filter: drop-shadow(0 0 10px #52b8da) drop-shadow(0 0 10px #52b8da);
}

.glow-icon-none {
  color: #717f8d;
  filter: drop-shadow(0 0 10px #52b8da00) drop-shadow(0 0 10px #52b8da00);
}

.full-width-dropdown .ant-dropdown-menu {
  min-width: 100% !important;
}

.full-width-dropdown .ant-dropdown-menu-item {
  width: 100%;
}

.ant-picker:focus,
.ant-picker-focused {
  box-shadow: none !important;
  outline: none !important;
}
